@tailwind base;
@tailwind components;
@tailwind utilities;

.font-primary {
  font-family: 'Padauk', sans-serif;
}

.font-secondary {
  font-family: 'Hind Vadodara', sans-serif;
}

.font-logo {
  font-family: 'Audiowide', cursive;
}
